.cards {
  position: flex;
  padding: 20px;
  margin:2% 6%;
  width: 90%;
  height: auto;
  max-height: 120%;
  left: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}

.card-mobiles {
  position: absolute;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 5px;
  height: auto;
  width: 98%;
  left: 0%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}

.icons {
  margin: 0% 50%;
  display: flex;
  flex-wrap: wrap;
}

.MealsIcons {
  grid-row: 1;
  grid-column: 3;
  gap: 2px;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  margin-left: 2px;
}

  /* .icon {
    grid-row: 1;
    grid-column: 3;
    gap: 2px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin-left: 2px;
  } */

  .iconMobile {
    margin:-125px 0;
    
  }