.cards {
    position: fixed;
    padding: 10px 30px;
    bottom: 2%;
    width: 80%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    height: 85%;
  }

  .icon {
    margin: -11.1% 65%;
    display: flex;
    flex-wrap: wrap;
  }


  /* .icon {
    grid-row: 1;
    grid-column: 3;
    gap: 2px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin-left: 2px;
  } */

  .iconMobile {
    margin:-125px 0;
    
  }