.dish {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.15fr 1fr 0.2fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    '. . . .'
    '. . . .'
    '. . . .';

  position: absolute;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 90%;
  height: auto;
  left: 10%;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}
.drinks {
  grid-row: 5;
  grid-column: 1;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #000000;
  gap: 5px;
}

.dish-ingredients {
  grid-row: 3;
  grid-column: 2;
  font-size: 15px;
  color: #000000;
}

.dish-ingredients h3 {
  font-size: 20px;
  color: #000000;
}
.dish-ingredients div {
  font-size: 15px;
  color: #646464;
}

.dish-instructions {
  margin-left: 50px;
  grid-row: 3;
  grid-column: 3 / 5;
  font-size: 15px;
  color: #646464;
}

.dish-instructions h3 {
  font-size: 20px;
  color: #000000;
}

.dish-instructions div {
  font-size: 15px;
  color: #444444;
}

.drink-image {
  height: 100px;
}

.drink-headline {
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  width: 100%;
}

.drink-name {
  grid-row: 5;
  display: flex;
  justify-content: bottom;
  align-items: center;
  margin-top: 4px;
  font-size: 16px;
  word-wrap: normal;
  width: 150px;
}

.allergens {
  grid-row: 2;
  grid-column: 1/2;
  font-size: 15px;
  color: #000000;
}

.dish-title {
  grid-row: 1;
  grid-column: 1;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.dish-info {
  grid-row: 1 / 4;
  grid-column: 2 / 5;
  font-size: 15px;
  color: #000000;
}
.dish-ingredients {
  grid-row: 3;
  grid-column: 2;
  font-size: 15px;
  color: #000000;
}

.dish-mobile {
  position: absolute;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 5px;
  height: auto;
  width: 98%;
  left: 0%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}

.image {
  grid-row: 3;
  grid-column: 1;
  object-fit: cover;
  border-radius: 40px;
}

.dish-name {
  font-size: 40px;
}
