.images-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}

.images-container img {
       flex-basis: calc(33.33% - 20px);
       height: auto;
       object-fit: fill;
       height: 90px;
       max-width: 65px;
       position: flex;
       margin:10% 5%;
}