.desktop.navbar {
       position: fixed;
       top: 50%;
       left: 1%;
       transform: translateY(-50%);
       display: flex;
       flex-direction: column;
       background-color: #f8f9fa;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       border-radius: 20px;
       height: fit-content;
       min-height: 435px;
       width: 200px;
       padding-block: 10px;
}

.desktop.collapsed.navbar {
       width: fit-content;
       max-width: 60px;
}

.desktop .navbar-header {
       display: flex;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       padding-inline: 12px;
       height: 60px;
}

.desktop .page-header {
       margin-top: 20px;
}

.desktop .navbar-toggler {
       border: none;
       background-color: transparent;
       font-size: 1.15rem;

}


.desktop.collapsed .navbar-toggler {
       align-self: center;
       margin-top: 10px;
}







.desktop.collapsed .nav-link {
       padding: 5px 10px 5px;
}