.page-header {
       display: flex;
       align-items: center;
       justify-content: flex-start;
       width: fit-content;
}

.page-header h1 {
       margin-right: 6px;
}


.page-header svg {
       color: #151515e5 !important;
}

@media (max-width: 800px) {
       .page-header svg {
              font-size: 2.1rem;
       }
}