.page-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.page-header h1 {
  margin-right: 6px;
  margin-top: 20px;
}

.page-header svg {
  margin-right: 6px;
  margin-top: 30px;
  color: #151515e5 !important;
}

@media (max-width: 800px) {
  .page-header svg {
    font-size: 2.1rem;
  }

  .page-header h1 {
    font-size: 2.3rem;
  }
}