.page-header-container {
       order: -1;
       flex: 1 0 0;
}

.images-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}

.images-container img.mobiledrink {
       flex-basis: calc(33.33% - 20px);
       position: flex;
       height: auto;
       object-fit: fill;
       height: 100px;
       max-width: 75px;
       position: flex;
       margin:5% 5%;

}

@media(max-width: 800px) {
       h2 {
              flex: 1 0 100%;
       }
}


     
     .title{
       position: flex;
       margin: -2% 4%;
     }
     
     .mailtome
     {
       position: flex;
       margin: 10% 0%;
     }
     
     .message{
       position: flex;
       text-align: 1200px;
       width: 300px;
       height: 25vh;
     }