.card {
  position: fixed;
  padding: 10px 30px;
  bottom: 7%;
  width: 60%;
  left: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  height: 80%;
}

.card-mobile {
  position: fixed;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 5px;
  height: 80%;
  width: 98%;
  left: 0%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}

.icon {
  margin:-12.8% 63%;
  position: fixed;
  display: flex;
}

.cardTitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. .';
  font-size: 30px;
  font-weight: 600;
  width: 100%;
}

.fine-dine {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  margin-right: 2px;
  font-weight: bold;
  font-size: 45px;
}

.icons {
  size: 10px;
  grid-row: 1;
  gap: 2px;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  margin-left: 2px;
}

.icon-clicked {
  color: #000000;
  margin-right: 4px;
}
.icon-unclicked {
  color: #818181;
  margin-right: 4px;
}

.hidden {
  display: none;
}
.infotext {
  /* display center screen */
  width: auto;
  height: auto;
  font-weight: 400;
  padding-bottom: 90%;
  top: 30%;
  left: 40%;
  color: red;
}

.title{
  font-weight: 400;
  display: flex;
  justify-content: right;
  color: red;
}

.dots {
  position: center;
  gap: 4px;
  margin: 10px;
  width: 200px;
  height: 30px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #333;
}

.dot-active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #98a7ff;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fooddrink{
  height: 60%;
  width: 20%;
  border-radius: 10px;
  margin:10px;
  position: flex;
}

.mobilefooddrink{
  height: 35%;
  width: 20%;
  border-radius: 10px;
  margin:12% 2.5%;
  position: flex;
}


.drink{
height: 60%;
width: 20%;
border-radius: 10px;
margin:20px;
position: flex;
align-items: center;
}

.mobiledrink{
  height: 45%;
  width: 25%;
  border-radius: 10px;
  margin:10% 4%;
  position: flex;
  align-items: center;
  }