/*
=============== 
Variables
===============
*/

:root {
  /*  colors */
  --clr-primary-black: black;
  --clr-primary-white: white;
  --clr-primary-gray: #d9d9d9;
  --clr-primary-background: #1e1e1e;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lobster';
  src: url('./fonts/Lobster-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lobster';
  background-image: url('./Images/chicken-in-red-wine-sauce-01.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

.main {
  /* background-image: url('./Images/chicken-in-red-wine-sauce-01.jpg');
  background-repeat: repeat;
  background-attachment: fixed; */
  /* background-size: cover; */
  /* background-position: center; */
}

/* Smartphone */
@media only screen and (max-width: 800px) {
  h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    text-transform: capitalize;
  }
}

/* Desktop */
@media only screen and (min-width: 800px) {
  h1 {
    font-weight: 400;
    font-size: 100px;
    line-height: 125px;
    text-transform: capitalize;
  }

  /* .main {
    background-image: url('./Images/chicken-in-red-wine-sauce-01ROTATED.jpg');
  } */
}

.navbar-smartphone-close {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: --clr-primary-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.navbar-smartphone-open {
  position: absolute;
  width: 200.92px;
  height: 470px;
  left: -0.47px;
  top: 0px;
  background: var(--clr-primary-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transform: rotate(0.07deg);
}

.navbar-desktop-close {
  position: relative;
  width: 360px;
  height: 111px;
  background: var(--clr-primary-white);
  border-radius: 20px;
}

.navbar-desktop-open {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: var(--clr-primary-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}