@media only screen and (max-width: 768px) {
  .drinkcard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: 'image' 'title' 'description' 'drinkType';
    padding-left: 10px;
    padding-right: 10px;
  }

  .image {
    grid-area: image;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 20px;
  }

  .drink-title {
    grid-area: title;
    text-align: center;
  }

  .drink-description {
    grid-area: description;
  }

  .drink-drinkType {
    grid-area: drinkType;
    margin-left: 0;
  }

  .drink-mobile {
    position: static;
    width: calc(100% - 20px);
    padding: 20px;
    margin: 1% 10px;
    left: 0;
  }

  .dishes > :nth-child(n + 4) {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  body .drinkcard {
    margin-left: 7%;
  }

  .drinkcard {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.15fr 1fr 0.2fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      '. . . .'
      '. . . .'
      '. . . .';

    padding: 20px;
    margin-top: 1%;
    margin-bottom: 2%;
    width: auto;
    height: auto;
    left: 0;
    margin-left: 1%;
    margin-right: auto;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
  }
}

.drinkcard {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.15fr 1fr 0.2fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    '. . . .'
    '. . . .'
    '. . . .';

  padding: 20px;
  margin-top: 1%;
  margin-bottom: 2%;
  height: auto;
  left: 0;
  margin-left: 1%;
  margin-right: 1%;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}

.dishescard {
  grid-row: 5;
  grid-column: 1 / -1;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #000000;
  gap: 5px;
  margin:1%;
}

.drink-description ul {
  list-style-type: none;
  padding: 0;
}

.drink-description ul li {
  color: #646464;
  position: relative;
  padding-left: 30px;
}

.drink-description ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 15%;
  width: 5%;
  background-color: black;
  border-radius: 50%;
}

.drink-description {
  grid-row: 3;
  grid-column: 2;
  font-size: 15px;
  padding: 30% 0%;
  color: #000000;
}

.drink-description h3 {
  font-size: 20px;
  color: #000000;
}
.drink-description div {
  font-size: 15px;
  color: #646464;
}

.drink-drinkType {
  margin-left: 50px;
  grid-row: 3;
  grid-column: 3 / 5;
  padding: 15% 30%;
  font-size: 15px;
  color: #646464;
  margin:25%;
}

.drink-drinkType ol {
  list-style-type: none;
  counter-reset: step-counter;
  padding: 0;
}

.drink-drinkType ol li {
  position: relative;
  padding-left: 25px;
}

.drink-drinkType ol li:before {
  content: counter(step-counter) '.';
  counter-increment: step-counter;
  position: absolute;
  left: 0;
  color: black;
}

.drink-drinkType ol li * {
  color: #646464;
}

.drink-drinkType h3 {
  font-size: 20px;
  color: #000000;
}

.drink-drinkType div {
  font-size: 15px;
  color: #444444;
}

.dish-image {
  height: 100px;
}

.dish-headline {
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  margin-bottom: -10%;
  width: 100%;
}

.dish-name {
  grid-row: 5;
  display: flex;
  justify-content: bottom;
  align-items: center;
  margin-top: 4px;
  font-size: 16px;
  word-wrap: normal;
  width: 150px;
}

.allergens {
  grid-row: 2;
  grid-column: 1/2;
  font-size: 15px;
  color: #000000;
}

.drink-title {
  grid-row: 1;
  grid-column: 1;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.drink-info {
  grid-row: 1 / 4;
  grid-column: 2 / 5;
  font-size: 15px;
  color: #000000;
}
.drink-description {
  grid-row: 3;
  grid-column: 2;
  font-size: 15px;
  color: #000000;
  margin:50% 0%;
}

.drink-mobile {
  position: static;
  width: 100%;
  padding: 20px;
  margin: 1% 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}

.image {
  grid-row: 3;
  grid-column: 1;
  object-fit: cover;
  border-radius: 40px;
  margin:-8% 3%;
}

.drink-name {
  font-size: 25px;
}
