.dishes {
  position: absolute;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 2%;
  height: 96vh;
  width: 80%;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}
.dishesTitle {
  font-size: 30px;
  font-weight: 600;
  /* Start a new line after this */
  display: flex;
  width: 100%;
}

.hidden {
  display: none;
}
