.dishes {
  position: absolute;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 2%;

  width: 90%;
  height: auto;

  left: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}
.dishes-mobile {
  position: absolute;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 5px;
  height: auto;
  width: 98%;
  left: 0%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}
.dishesTitle {
  font-size: 30px;
  font-weight: 600;
  /* Start a new line after this */
  display: flex;
  width: 100%;
}

.hidden {
  display: none;
}
