.mobile.navbar.collapsed {
       position: relative !important;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 80px !important;
       padding: 0 20px;
       background-color: #ffffff;
       box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
       left: 0 !important;
}

.mobile.navbar {
       position: fixed;
       height: 100vh !important;
       width: 100vw;
       align-items: center;
       border-radius: 0 !important;
       top: 0 !important;
       transform: translateY(0%) !important;
       left: 0 !important;
       background-color: #ffffff;
}

.mobile .navbar-header {
       display: flex;
       width: 100%;
       justify-content: center;
       align-items: center;
       height: 75px;
       position: absolute;
       top: 0;
}

.mobile.navbar.collapsed .navbar-header {
       margin-bottom: 0;
}

.mobile.navbar .navbar-header {
       margin-bottom: 30px;
}

.mobile.navbar .navbar-toggler {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 50px;
       width: 50px;
       border: none;
       background-color: transparent;
       font-size: 1.3rem;
       position: absolute;
       left: 0;
       top: 15px;
}

.mobile.navbar .navbar-nav {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       margin: 0;
       padding: 0;
       position: relative;
       top: 110px;
}

.mobile.navbar .navbar-nav .nav-item {
       position: relative;
       list-style: none;
       margin-left: 20px;
       font-size: 1.2rem;
       width: 220px;
}

.mobile.navbar .navbar-nav .nav-link {
       flex-direction: row-reverse;
       justify-content: flex-end;
}

.mobile.navbar .navbar-nav .nav-link svg {
       position: absolute;
       margin-right: 10px;
       right: 215px;
       min-width: 20px;
}